html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
   margin: 0;
   font-family: Roboto, sans-serif;
   font-size: 14px;
}
 main{
     position: relative;
     width: 100%;
     height:  auto;
 }

 section.apresentacao{
     position: relative;
     width: 100%;
     height: auto;
     min-height: 100vh - 660px;

 }
 section.apresentacao > div {
     position: relative;
     width: 90%;
     max-width: 1200px;
     height: auto;
     margin: 0 auto;
 }
 section.apresentacao > div > h2 {
    text-align: center;
     color:#9C27B0; 
 }
 section.apresentacao > div > p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 50%;
    margin: 50px auto;

 }

 section.slide{
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: 400px;
    /* background: #0008; */
    margin: 50px auto;
    overflow: hidden;
 }

section.slide > img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 400px;
    animation: slide;
    animation-duration: 60s;
    animation-iteration-count: infinite;

}
section.slide > img::nth-child(1) {
  animation-name:  slide2;
  animation-delay: 0s;
}
section.slide > img:nth-child(2){
    animation-delay: 9.5s;
}
 
section.slide > img:nth-child(3){
    animation-delay: 19.5s;
}
    
section.slide > img:nth-child(4){
    animation-delay: 29.5s;
}

section.slide > img:nth-child(5){
    animation-delay: 39.5s;
}
section.slide > img:nth-child(6){
    animation-delay: 49.5s;
}   

@keyframes slide {
    0% {
        top: 400px;
        z-index: 2;
    }
    0.5% {
        top: 0;
    }
    16.66% {
        top: 0;
        z-index: 2;
    }
    16.67% {
        z-index: 1;
    }
    99.5% {
        top: 400px;
    }
    100% {
        top: 400px;
        z-index: 1;
    }
}

@keyframes slide2 {
    0% {
        top: 0px;
        z-index: 2;
    }
    16.66% {
        top: 0;
        z-index: 2;
    }
    16.67% {
        z-index: 1;
    }
    99.49% {
        z-index: 1;
    }
    99.5% {
        top: 400px;
        z-index: 2;
    }
    100% {
        top: 0px;
        z-index: 2;
    }
}
